
/**
 * Image upload widget.
 */
.image-preview {
  float: left; /* LTR */
  padding: 0 10px 10px 0; /* LTR */
}
[dir="rtl"] .image-preview {
  float: right;
  padding: 0 0 10px 10px;
}
.image-widget.with-preview .image-widget-data {
  padding-left: 120px;
}
.file-widget-multiple-table-con .image-widget {
  float: left;
}
.image-widget-alt-title {
  max-width: 600px;
}
.image-widget-alt-title .form-item {
  padding: 0 10px 0 0;
  width: 50%;
  float: left;
  min-width: 200px;
  box-sizing: border-box;
}
.image-widget-alt-title .form-text {
  width: 100%;
}
[dir="rtl"] .image-widget-data {
  padding-right: 120px;
}
.image-widget-data .text-field {
  width: auto;
}
